<div>
  <div class="hero_area">

    <!-- slider section -->
    <section class=" slider_section ">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-lg-5 col-md-6">
                  <div class="slider_detail-box">
                    <h1>
                      Criação
                      de Sites <br />
                      e sistema <br />
                    </h1>
                    <p>
                      Criação de sites profissionais para os mais diversos segmentos.
                      Plataformas amplamente recomendadas, adaptados para navegação mobile e estilizado com a identidade
                      visual da marca.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1">
                        Saiba Mais
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="slider_img-box">
                    <img src="assets/images/slider-img.jpg" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-lg-5 col-md-6">
                  <div class="slider_detail-box">
                    <h1>
                      Criação
                      de Sites <br />
                      e sistema <br />
                    </h1>
                    <p>
                      Criação de sites profissionais para os mais diversos segmentos.
                      Plataformas amplamente recomendadas, adaptados para navegação mobile e estilizado com a identidade
                      visual da marca.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1">
                        Saiba Mais
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="slider_img-box">
                    <img src="assets/images/slider-img.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-lg-5 col-md-6">
                  <div class="slider_detail-box">
                    <h1>
                      Criação
                      de Sites <br />
                      e sistema <br />
                    </h1>
                    <p>
                      Criação de sites profissionais para os mais diversos segmentos.
                      Plataformas amplamente recomendadas, adaptados para navegação mobile e estilizado com a identidade
                      visual da marca.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1">
                        Saiba Mais
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="slider_img-box">
                    <img src="assets/images/slider-img.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel_btn-container">
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- quem somos -->
  <p-sobre> </p-sobre>
  <!-- end quem somos -->

  <!-- service section -->

  <section class="service_section">
    <div class="container">
      <div class="custom_heading-container">
        <h2>
          Veja Alguns Dos nossos Servicos
        </h2>
      </div>
      <div class="service_container layout_padding2">
        <div class="service_box">
          <div class="img-box">
            <img src="assets/images/s-1.jpg" alt="" />
          </div>
          <div class="detail-box">
            <h4>
              Site dinâmico
            </h4>
            <p>
              este tipo oferece mais dinamismo e permite que alterações sejam feitas de maneira mais fácil.
              O conteúdo pode ser constantemente atualizado, fazendo com o que o site permaneça renovado.
            </p>
          </div>

        </div>
        <div class="service_box">
          <div class="img-box">
            <img src="assets/images/s-2.jpg" alt="" />
          </div>
          <div class="detail-box">
            <h4>
              Site one-page
            </h4>
            <p>
              O que define um site one-page é que toda a informação é carregada em uma única página, à medida que o
              usuário percorre o conteúdo
            </p>
          </div>

        </div>
        <div class="service_box">
          <div class="img-box">
            <img src="assets/images/s-3.jpg" alt="" />
          </div>
          <div class="detail-box">
            <h4>
              Site Institucional
            </h4>
            <p>
              Criação de site com informações sobre a empresa, com páginas de informações sobre o negócio,
              serviços/produtos e contato
            </p>
          </div>

        </div>
      </div>
      <div>
        <a href="">
          Ver mais sobre os serviços
        </a>
      </div>
    </div>
  </section>

  <!-- end service section -->
  <!--problem section -->
  <section class="layout_padding">
    <div class="container">
      <div class="custom_heading-container">
        <h2>
          Quais são as vantagens de ter um site?
        </h2>
      </div>
      <div class="layout_padding2">


        <div class="list-group">
          
         
          <div class="borda-esq list-groupo list-group-item-action"> 
              <h5 class="mb-1">
                <div class="row">
                  <div class="col-lg-1 col-md-1">
                    <div class="vantagem">1</div>
                  </div>
                  <div class="col-lg-11 col-md-11">
                    Presença online
                  </div>
                </div>
              </h5> 
            
            <p class="text-muted">
              Um site faz com que você esteja presente na internet e este é o primeiro passo para conquistar novos clientes. 
              Afinal, se outrora os consumidores costumavam ir até as lojas para obter informações e tirar dúvidas sobre os produtos, hoje muitos o fazem online.
            </p> 
          </div>
          
            <div class="list-groupo list-group-item-action"> 
              <h5 class="mb-1">
                <div class="row">
                  <div class="col-lg-1 col-md-1">
                    <div class="vantagem">2</div>
                  </div>
                  <div class="col-lg-11 col-md-11">
                    Aumento das vendas
                  </div>
                </div>
              </h5>  
            <p class="text-muted">Conforme a performance do seu site aumenta, como consequência, as vendas também tendem a crescer</p>
          </div>

          <div class="borda-esq list-groupo list-group-item-action">
          
              <h5 class="mb-1">
                <div class="row">
                  <div class="col-lg-1 col-md-1">
                    <div class="vantagem">3</div>
                  </div>
                  <div class="col-lg-11 col-md-11">
                    Melhorar a comunicação
                  </div>
                </div>
              </h5> 
         
            <p class="text-muted">É muito utilizada para a maioria das pessoas que possui um site. Ele o ajuda a melhorar a comunicação entre sua empresa e seus clientes e a interna.
              .</p> 
          </div> 

          <div class="list-groupo list-group-item-action"> 
              <h5 class="mb-1">
                <div class="row">
                  <div class="col-lg-1 col-md-1">
                    <div class="vantagem">4</div>
                  </div>
                  <div class="col-lg-11 col-md-11">
                    O site ser seu
                  </div>
                </div>
              </h5>  
            <p class="text-muted">Você tem total controle sobre o site profissional – o site é seu. Diferentemente de quem possui um canal no YouTube ou uma página no Facebook – ambos não são seus. Você não é detentor deles – mesmo tendo a página e o canal, não tem poder sobre eles.</p> 
          </div>
        </div>
 
      
      </div>

    </div>
  </section>
 

  <section class="why_section layout_padding">
    <div class="container">
      <div class="custom_heading-container">
        <h2>
          Porque escolher-nos
        </h2>
      </div>
      <div class="content-container">
        <p>
          Acreditamos que somos mais do que uma simples agência, trabalhamos para sermos um amigo e um verdadeira
          parceiro da sua equipa. Os nossos pilares são a tecnologia, segurança, a inovação e as estratégias do
          marketing.
          Todos estes pilares fazem de nós uma agência ideial a sua empresa.
        </p>
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="img-box">
              <img src="assets/images/smiley.png" alt="" />
            </div>
            <div class="detail-box">
              <h3>
                99%
              </h3>
              <h6>
                Clientes Satisfeitos
              </h6>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="img-box">
              <img src="assets/images/monitor.png" alt="" />
            </div>
            <div class="detail-box">
              <h3>
                4700+
              </h3>
              <h6>
                Planeamento INCRÍVEL
              </h6>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="img-box">
              <img src="assets/images/multiple-users-silhouette.png" alt="" />
            </div>
            <div class="detail-box">
              <h3>
                4500+
              </h3>
              <h6>
                CLIENTES
              </h6>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="img-box">
              <img src="assets/images/bar-chart.png" alt="" />
            </div>
            <div class="detail-box">
              <h3>
                19000+
              </h3>
              <h6>
                Negócios diários
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="client_section layout_padding">
    <div class="container">
      <h2>
        O que nossos clientes dizem
      </h2>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="client_container layout_padding2">
              <div class="client_text">
                <p>
                  O site ficou melhor do que eu tinha planejado e ainda resolveram vários problemas extras sem custo
                  adicional. Todas as minhas dúvidas foram prontamente respondidas. Recomendo!!!
                </p>
              </div>
              <div class="detail-box">
                <div class="img-box">
                  <img src="assets/images/client.jpg" alt="" />
                </div>
                <div class="name">
                  <h5>
                    joaquim Mark
                  </h5>

                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="client_container layout_padding2">
              <div class="client_text">
                <p>
                  O site ficou melhor do que eu tinha planejado e ainda resolveram vários problemas extras sem custo
                  adicional. Todas as minhas dúvidas foram prontamente respondidas. Recomendo!!!
                </p>
              </div>
              <div class="detail-box">
                <div class="img-box">
                  <img src="assets/images/client.jpg" alt="" />
                </div>
                <div class="name">
                  <h5>
                    felipe teca
                  </h5>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="client_container layout_padding2">
              <div class="client_text">
                <p>
                  O site ficou melhor do que eu tinha planejado e ainda resolveram vários problemas extras sem custo
                  adicional. Todas as minhas dúvidas foram prontamente respondidas. Recomendo!!!
                </p>
              </div>
              <div class="detail-box">
                <div class="img-box">
                  <img src="assets/images/client.jpg" alt="" />
                </div>
                <div class="name">
                  <h5>
                    Dinis armado
                  </h5>

                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
  </section>

  <p-contacto> </p-contacto>


</div>