<div class="footer_bg">
  <!-- info section -->
  <section class="info_section layout_padding2-bottom">
    <div class="container">
      <h3 class="">
        AngoDigital
      </h3>
    </div>
    <div class="container info_content">

      <div>
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="d-flex">
              <p style="color: #fff">
                SOBRE A ANGOWEB
                Oferecemos Soluções Web de alto padrão confiáveis e acessível para profissionais e empresas em Angola.
                 A ideia nasceu em 2011 do desejo de oferecer soluções web simples e fácil de usar a preços competitivos.
              </p>
            </div>
    
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="d-flex">
              <h5>
                Links
              </h5>
            </div>
            <div class="d-flex ">
              <ul>
                 
                <li>
                  <a href="">
                    HOME
                  </a>
                </li>
                <li>
                  <a href="">
                    SOBRE NOS
                  </a>
                </li>
                <li>
                  <a href="">
                    SERVIÇOS
                  </a>
                </li>
                <li>
                  <a href="">
                    CONTACTO
                  </a>
                </li>
              </ul>
             
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="d-flex">
              <h5>
                Os serviço
              </h5>
            </div>
            <div class="d-flex ">
              <ul>
                <li>
                  <a href="">
                    Site dinâmico
                  </a>
                </li>
                <li>
                  <a href="">
                  one-page
                  </a>
                </li>
                <li>
                  <a href="">
                    Site Institucional
                  </a>
                </li>
                <li>
                  <a href="">
                    Hotsite
                  </a>
                </li>
                <li>
                  <a href="">
                    Landing Page
                  </a>
                </li>
              </ul>
              <ul class="ml-3 ml-md-5">
                <li>
                  <a href="">
                    WEBSITE LITE
                  </a>
                </li>
                <li>
                  <a href="">
                    WEBSITE PRO
                  </a>
                </li>
                <li>
                  <a href="">
                    WEBSITE SUPER
                  </a>
                </li> 
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="d-flex">
              <h5>
                Contate-nos
              </h5>
            </div>
            <div class="d-flex ">
 
              <ul>
               
                <li>
                  <a href="">
                    Email: 
                    <br> jmsystem.trainer@gmail.com
                  </a>
                </li>
                <li>
                  <a href="">
                    Telefone: 
                    <br> (+244) 997 616 181 | 942 459 967
                  </a>
                </li>
                 
                <li>
                  <a href="">
                    Web DesignFormulário de Contacto
                  </a>
                </li>
              </ul>
             
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center align-items-lg-baseline">
        <div class="social-box">
          <a href="">
            <img src="assets/images/fb.png" alt="" />
          </a>

          <a href="">
            <img src="assets/images/twitter.png" alt="" />
          </a>
          <a href="">
            <img src="assets/images/linkedin1.png" alt="" />
          </a>
          <a href="">
            <img src="assets/images/instagram1.png" alt="" />
          </a>
        </div>
        <div class="form_container mt-5">
          <form action="">
            <label for="subscribeMail">
              Newsletter
            </label>
            <input type="email" placeholder="Entra com seu email" id="subscribeMail" />
            <button type="submit">
              Subscrever
            </button>
          </form>
        </div>
      </div>
    </div>

  </section>

  <!-- end info_section -->

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      © 2021-2022 ANGOWEB - Soluções Web e  Serviços de Informação 
    </p>
  </section>
  <!-- footer section -->
</div>