<div class="cabecario">
      
    <!-- header section strats -->
    <header class="header_section">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-8">
              <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="index.html">
                  <span>
                    AngoDigital
                  </span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
  
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <div class="d-flex  flex-column flex-lg-row align-items-center">
                    <ul class="navbar-nav  ">
                      <li class="nav-item active">
                        <a class="nav-link" href="#/">Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#/sobre">Sobre nos </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#/servico">Serviços</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#/contacto">Contacto</a>
                      </li> 
                    </ul>
                  </div>
                </div>
              </nav>
            </div>

            <div class="col-lg-4">

                    <form style="padding-left: 30%; position: static;" class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                      <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center align-items-lg-baseline">
                        <div class="social-box">
                        <a href="">
                          <img src="assets/images/fb.png" alt="" />
                        </a>
              
                        <a href="">
                          <img src="assets/images/twitter.png" alt="" />
                        </a> 
                        <a href="">
                          <img src="assets/images/twitter.png" alt="" />
                        </a> 
                        <a href="">
                          <img src="assets/images/linkedin1.png" alt="" />
                        </a>
                        <a href="">
                          <img src="assets/images/instagram1.png" alt="" />
                        </a>
                      </div>
                    </div>
                    </form>
            </div>
          </div>
        </div>
      </header>
      <!-- end header section -->

</div>