<div>


  <!-- welcome section -->

  <section class=" layout_padding">
    <div class="container">
      <div class="custom_heading-container">
        <h2>
          CRIAÇÃO DE WEBSITES MODERNOS E PROFISSIONAIS
        </h2>
      </div>
      <div class="content-container ">
        <p>
          O Website é uma ferramenta de publicidade de baixo custo e de grande alcance visual,
          abrangendo qualquer ponto do país e do mundo, com apenas alguns cliques.
          Além de ser, um dos melhores canais de vendas e meio de comunicação com seus clientes.
        </p>
        <div class="row white" style="justify-content: center; align-items: center;">

          <div class="col-md-4 col-sm-6">
            <div class="pricing-table-inner is-revealing" style="visibility: visible;">
              <div class="pricing-table-main">
                <div class="pricing-table-features-title text-xs pt-24 pb-24">WEBSITE LITE
                  <br>
                  <div class=""><span class="text-xs">À PARTIR DE </span><span class="h2">60.000,00</span>
                    <span class="text-xs">AO</span>
                  </div>

                </div>


                <ul class="pricing-table-features list-reset text-xs">
                  <li>
                    <span>Design Profissional e Responsivo</span>
                  </li>
                  <li>
                    <span>site profissional personalizado baseado em modelos</span>
                  </li>
                  <li>
                    <span>Menu (até 4 Pagínas Princípais)</span>
                  </li>
                  <li>
                    <span>Até 5 Slide Show Dinâmico (Imagens,textos)</span>
                  </li>
                  <li>
                    <span>Área de Conteúdos (Texto,imagens,Videos)</span>
                  </li>
                  <li>
                    <span>Formulário de Contacto</span>
                  </li>
                  <li>
                    <span>Localização Estática</span>
                  </li>
                  <li>
                    <span>Rodapé | Informações e Redes Sociais</span>
                  </li>

                </ul>
              </div>

              <div class="pricing-table-header pb-24">
                <div class="pricing-table-price"><span class="pricing-table-price-amount h1">60.000,00</span><span
                    class="text-xs">AO</span></div>
              </div>
              <div class="pricing-table-cta mb-8">
                <a class="button button-primary button-shadow button-block" href="#">PEÇA UM ORÇAMENTO</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="pricing-table-inner is-revealing" style="visibility: visible;">
              <div class="pricing-table-main">

                <div class="pricing-table-features-title text-xs pt-24 pb-24">WEBSITE PRO 
                  <br>
                  <div class=""><span class="text-xs">À PARTIR DE </span><span class="h2">99.000,00</span>
                    <span class="text-xs">AO</span>
                  </div>
                </div>
                <ul class="pricing-table-features list-reset text-xs">
                  <li>
                    <span>Design Profissional e Responsivo</span>
                  </li>
                  <li>
                    <span>Menu (até 6 Pagínas Princípais)</span>
                  </li>
                  <li>
                    <span>Até 10 Slide Show Dinâmico (Imagens,textos)</span>
                  </li>
                  <li>
                    <span>Subpáginas Até 4</span>
                  </li>
                  <li>
                    <span>Área de Conteúdos (Texto,imagens,Videos)</span>
                  </li>
                  <li>
                    <span>Área de Destaques | Notícias</span>
                  </li>
                  <li>
                    <span>Barra de Clientes | Parceiros</span>
                  </li>
                  <li>
                    <span>Formulário de Contacto</span>
                  </li>
                  <li>
                    <span>Localização Estática</span>
                  </li>
                  <li>
                    <span>Rodapé | Informações e Redes Sociais</span>
                  </li>

                  <li>
                    <span>Chat de Atendimento Online</span>
                  </li>

                </ul>
              </div>

              <div class="pricing-table-header pb-24">
                <div class="pricing-table-price"><span class="pricing-table-price-amount h1">99.000,00</span><span
                    class="text-xs">AO</span></div>
              </div>
              <div class="pricing-table-cta mb-8">
                <a class="button button-primary button-shadow button-block" href="#">PEÇA UM ORÇAMENTO</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="pricing-table-inner is-revealing" style="visibility: visible;">
              <div class="pricing-table-main">

                <div class="pricing-table-features-title text-xs pt-24 pb-24">WEBSITE SUPER
                  <br>
                  <div class=""><span class="text-xs">À PARTIR DE </span><span class="h2">200.000,00</span>
                    <span class="text-xs">AO</span>
                  </div>

                </div>
                <ul class="pricing-table-features list-reset text-xs">
                  <li>
                    <span>Design Profissional e Responsivo</span>
                  </li>
                  <li>
                    <span>Menu (até 9 Pagínas Princípais)</span>
                  </li>
                  <li>
                    <span>Ilimitado Slide Show Dinâmico (Imagens,textos)</span>
                  </li>
                  <li>
                    <span>Subpáginas Até 8</span>
                  </li>
                  <li>
                    <span>Área de Conteúdos (Texto,imagens,Videos)</span>
                  </li>
                  <li>
                    <span>Área de Clientes</span>
                  </li>
                  <li>
                    <span> Área de Publicidades</span>
                  </li>

                  <li>
                    <span>Área de Destaques | Notícias</span>
                  </li>
                  <li>
                    <span>Barra de Clientes | Parceiros</span>
                  </li>
                  <li>
                    <span>Formulário de Contacto</span>
                  </li>
                  <li>
                    <span>Localização Estática</span>
                  </li>
                  <li>
                    <span>Rodapé | Informações e Redes Sociais</span>
                  </li>

                  <li>
                    <span>Chat de Atendimento Online</span>
                  </li>

                </ul>
              </div>
              <div class="pricing-table-header pb-24">
                <div class="pricing-table-price"><span class="pricing-table-price-amount h1">200.000,00</span><span
                    class="text-xs">AO</span></div>
              </div>
              <div class="pricing-table-cta mb-8">
                <a class="button button-primary button-shadow button-block" href="#">PEÇA UM ORÇAMENTO</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- end welcome section -->

  <!-- service section -->

  <section class="service_section">
    <div class="container">
      <div class="custom_heading-container">
        <h2>
          Veja Alguns Dos nossos modelos
        </h2>
      </div>
      <div class="service_container layout_padding2">
        <div class="service_box">
          <div class="img-box">
            <img src="assets/images/s-1.jpg" alt="" />
          </div>

        </div>
        <div class="service_box">
          <div class="img-box">
            <img src="assets/images/s-2.jpg" alt="" />
          </div>

        </div>
        <div class="service_box">
          <div class="img-box">
            <img src="assets/images/s-3.jpg" alt="" />
          </div>

        </div>

        <div class="service_box">
          <div class="img-box">
            <img src="assets/images/s-1.jpg" alt="" />
          </div>

        </div>
        <div class="service_box">
          <div class="img-box">
            <img src="assets/images/s-2.jpg" alt="" />
          </div>

        </div>
        <div class="service_box">
          <div class="img-box">
            <img src="assets/images/s-3.jpg" alt="" />
          </div>

        </div>

      </div>
      <div>
        
        <a href="">
          Ver mais
        </a>
      </div>
    </div>
  </section>

  <!-- end service section -->


  <section class="client_section layout_padding">
    <div class="container">
      <h2>
        O que nossos clientes dizem
      </h2>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="client_container layout_padding2">
              <div class="client_text">
                <p>
                  O site ficou melhor do que eu tinha planejado e ainda resolveram vários problemas extras sem custo
                  adicional. Todas as minhas dúvidas foram prontamente respondidas. Recomendo!!!
                </p>
              </div>
              <div class="detail-box">
                <div class="img-box">
                  <img src="assets/images/client.jpg" alt="" />
                </div>
                <div class="name">
                  <h5>
                    joaquim Mark
                  </h5>

                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="client_container layout_padding2">
              <div class="client_text">
                <p>
                  O site ficou melhor do que eu tinha planejado e ainda resolveram vários problemas extras sem custo
                  adicional. Todas as minhas dúvidas foram prontamente respondidas. Recomendo!!!
                </p>
              </div>
              <div class="detail-box">
                <div class="img-box">
                  <img src="assets/images/client.jpg" alt="" />
                </div>
                <div class="name">
                  <h5>
                    felipe teca
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
  </section>


</div>