<div class="">
  
      <!-- service section -->
     
      <section class="service_section">
        <div class="container">
          <div class="custom_heading-container">
            <h2>
              Our Services
            </h2>
          </div>
          <div class="service_container layout_padding2">
            <div class="service_box">
                <div class="pricing-table-inner is-revealing" style="visibility: visible;">
                    <div class="pricing-table-main">
                        <div class="pricing-table-header pb-24">
                            <div class="pricing-table-price"><span class="pricing-table-price-currency h2">$</span><span class="pricing-table-price-amount h1">49</span><span class="text-xs">/month</span></div>
                        </div>
                        <div class="pricing-table-features-title text-xs pt-24 pb-24">What you will get</div>
                        <ul class="pricing-table-features list-reset text-xs">
                            <li>
                                <span>Lorem ipsum dolor sit nisi</span>
                            </li>
                            <li>
                                <span>Lorem ipsum dolor sit nisi</span>
                            </li>
                            <li>
                                <span>Lorem ipsum dolor sit nisi</span>
                           
                            </li>
                            <li>
                                <span>Lorem ipsum dolor sit nisi</span>
                            </li>
                        </ul>
                    </div>
                    <div class="pricing-table-cta mb-8">
                        <a class="button button-primary button-shadow button-block" href="#">Pre order now</a>
                    </div>
                </div>
            </div>
            <div class="service_box">
                <div class="pricing-table-inner is-revealing" style="visibility: visible;">
                    <div class="pricing-table-main">
                        <div class="pricing-table-header pb-24">
                            <div class="pricing-table-price"><span class="pricing-table-price-currency h2">$</span><span class="pricing-table-price-amount h1">49</span><span class="text-xs">/month</span></div>
                        </div>
                        <div class="pricing-table-features-title text-xs pt-24 pb-24">What you will get</div>
                        <ul class="pricing-table-features list-reset text-xs">
                            <li>
                                <span>Lorem ipsum dolor sit nisi</span>
                            </li>
                            <li>
                                <span>Lorem ipsum dolor sit nisi</span>
                            </li>
                            <li>
                                <span>Lorem ipsum dolor sit nisi</span>
                           
                            </li>
                            <li>
                                <span>Lorem ipsum dolor sit nisi</span>
                            </li>
                        </ul>
                    </div>
                    <div class="pricing-table-cta mb-8">
                        <a class="button button-primary button-shadow button-block" href="#">Pre order now</a>
                    </div>
                </div>
            </div>

            <div class="service_box">
                <div class="pricing-table-inner is-revealing" style="visibility: visible;">
                    <div class="pricing-table-main">
                        <div class="pricing-table-header pb-24">
                            <div class="pricing-table-price"><span class="pricing-table-price-currency h2">$</span><span class="pricing-table-price-amount h1">49</span><span class="text-xs">/month</span></div>
                        </div>
                        <div class="pricing-table-features-title text-xs pt-24 pb-24">What you will get</div>
                        <ul class="pricing-table-features list-reset text-xs">
                            <li>
                                <span>Lorem ipsum dolor sit nisi</span>
                            </li>
                            <li>
                                <span>Lorem ipsum dolor sit nisi</span>
                            </li>
                            <li>
                                <span>Lorem ipsum dolor sit nisi</span>
                           
                            </li>
                            <li>
                                <span>Lorem ipsum dolor sit nisi</span>
                            </li>
                        </ul>
                    </div>
                    <div class="pricing-table-cta mb-8">
                        <a class="button button-primary button-shadow button-block" href="#">Pre order now</a>
                    </div>
                </div>
            </div>
          </div>
          <div>
            
          </div>
        </div>
      </section>
     
</div>