<div>


  <!-- welcome section -->
  <section class="welcome_section layout_padding">
    <div class="container">

      <div class="row layout_padding2"> 
          <div class="col-sm-6 col-md-6 col col-12"> 
            <div class="title-bullet"><span> </span></div>
            <div class="card">
              <img class="card-img-top w-100 d-block img-fluid img-thumbnail" src="assets/images/criacao-de-sites.jpg" >
              <div class="card-body"> 
              
                <p>
               
                  <a class="btn btn-primary hero-button plat" role="button" href=" " target="_blank">Baixe a nossa carta de apresentação</a>
                </p>
              </div> 
          </div>
        </div>
        <div class="col-sm-6 col-md-6 ">
<br>
          <p>
            Somos uma agência 100% digital e atendemos toda a parte do pais. Somos especialistas em criação de sites.
          </p>

          <p>
            Nosso time é formado por profissionais criativos e com vasta experiência em criação de sites de diversos
            modelos.
          </p>

          <p>
            A nossa Agência oferece as melhores soluções em criação de sites, sempre com ideias e projetos inovadores e
            foco em grandes resultados.
          </p>

          <p>
            Atendemos empresas de diversos segmentos, de médio e pequeno porte, e inovamos com o conceito de que a
            qualidade para nós é uma exigência.
          </p>

          <p>
            O nosso propósito é construir uma relação de parceria com os nossos clientes.
          </p>

        </div>
      </div>
  </section>



  <section class="welcome_section layout_padding">
    <div class="container">
      <div class="custom_heading-container">
        <h2>
          NOSSOS VALORES
        </h2>
      </div>
      <div class="layout_padding2">

        <div class="detail-box">




          <div class="container">

            <div class="row features">
              <div class="col-sm-6 col-md-4 item">
                <i class="fa fa-star icon fa-4x" style="color: #feb543"></i>
                <h3 class="name"><strong>Missão&nbsp;</strong></h3>
                <p class="description">
                  Oferecer ao mercado nacional e internacional serviços de WebSites com elevado padrão de qualidade,
                  prestados por equipas altamente qualificadas para atender as necessidades dos nossos
                  clientes,<br>agregando valores aos
                  seus negócios com dedicação, ética profissional e criando parcerias<br>duradouras e de confiança.
                </p>
              </div>
              <div class="col-sm-6 col-md-4 item">
                <i class="fa fa-eye icon fa-4x" style="color: #feb543"></i>
                <h3 class="name"><strong>Visão</strong></h3>
                <p class="description">
                  Ser referência nos ramos em que actuamos visando o lucro através de conduta justa, ética, de
                  <br>responsabilidade social e alcançar metas determinadas.
                </p>
              </div>
              <div class="col-sm-6 col-md-4 item">
                <i class="fa fa-handshake fa-4x" style="color: #feb543"></i>
                <h3 class="name"><strong>Valores</strong></h3>
                <p class="description">Inovação, proximidade e suporte.</p>
                <p class="description">
                  <br>Nossa equipa de trabalho consiste em profissionais qualificados para lhe dar total atenção.
                  
                  
                  <br><br>
                </p>
              </div>
            </div>
          </div>




          <div>
         
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- end welcome section -->
</div>